.card {
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-border-style: dotted;
    -fx-border-color: black;
    -fx-background-color: #f0f0f0;
}

.revers-card {
    -fx-border-color: blue;
    -fx-background-color: #f0f0ff;
}

.exercise-error {
     -fx-text-fill: red;
}

#exerciseLabel {
    -fx-text-alignment: center;
}

