.card {
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-border-style: dotted;
    -fx-border-color: black;
}

.revers-card {
    -fx-border-color: blue;
}

.exercise-error {
     -fx-text-fill: red;
}

#exerciseLabel {
    -fx-padding: 10px;
    -fx-text-alignment: center;
}

#checkText {
    -fx-background-color: none;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

#checkText:focused {
    -fx-background-color: none;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

#checkText .content {
    -fx-padding: 10px;
    -fx-background-color: none;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

#checkText:focused .content {
    -fx-background-color: none;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

#checkText .text {
    -fx-text-alignment: center;
}

